# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Project specific (Archivos generados, historiales y notas personales)
*.weights.h5
*.csv
*.pdf
mejoras_oracle_v3.md
